name: Run Laptop Price Tracker Local
on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  scrape_job:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Libraries
        run: |
          python -m pip install --upgrade pip
          python -m pip install selenium webdriver-manager gspread oauth2client google-auth undetected-chromedriver

      # --- ĐÃ XÓA BƯỚC "Create Service Account File" ---
      # Lý do: Vì ta đã copy file thủ công vào máy rồi.
      # Đừng để code tự tạo nữa kẻo nó ghi đè file rỗng.
      # -------------------------------------------------

      - name: Run Main Script
        run: python main_local.py
